
@use './../helpers/variables' as var;

.search-form {
    padding: 20px 3px;

    .form-control {
        color: var.$wdf-dark-grey;
        // background-color: #fff;
        border: 1px solid var.$wdf-dark-grey;
        border-radius: 24px;
    }

}


#root[data-component="HomePageComponent"]{

    .search{
      .search-form {
        padding: 0 0 20px 0;
        .form-control{
        //   border-radius: 5px;
        border-radius: 30px;
          padding: 16px;
        }
      }
      .card-search-menu{
        background-color:#fff;
      }
    }
  }