
@page {
    size: a4;
    margin: 0.5cm;
    padding: 0;
}




@media print {
    header,
    .btn-next-lesson,
    .video-wrapper {
        display: none;
    }

    @page {
        margin-top: 0;
        margin-bottom: 0;
    }
    body {
        padding-top: 72px;
        padding-bottom: 72px ;
    }
    
}